/.metadata/
*.class
Hospital/build/classes/hospital/DTO/Reservation.class
Hospital/build/classes/hospital/Service/BoardService.class
Hospital/build/classes/hospital/Service/BoardService.class
Hospital/build/classes/hospital/DTO/Reservation.class
