/* ----------------------cont1---------------------- */


.container {
    width: 100%;
    padding: 30px;
    word-break: keep-all;
}

.container .inner1 {
    padding: 30px;
}

.slide-container {
    width: 1200px;
    height: 720px;
    margin: 150px auto;
}


.slide {
    width: auto;
    height: 720px;
    box-sizing: border-box;
}


.slide img { 
    width: 100%;
    height: 100%;
}

/* slick - 네비게이션 화살표 */
.prev-arrow {
    position: absolute;
    left: 2%;
    top: 50%;
    width: 40px;
    height: 40px;
    transform: translateY(-50%);
    z-index: 100;
    background: url(../img/prev.png) no-repeat center center / 40px 40px;
    outline: none;
    border: none;
    filter: brightness(40%);
    cursor: pointer;
}


.next-arrow {
    position: absolute;
    right: 2%;
    top: 50%;
    width: 40px;
    height: 40px;
    transform: translateY(-50%);
    z-index: 100;
    background: url(../img/next.png) no-repeat center center / 40px 40px;
    outline: none;
    border: none;
    filter: brightness(40%);
    cursor: pointer;
}


.prev-arrow:hover,
.next-arrow:hover {
    filter: brightness(100%);
}



/* 네비게이션 닷츠 커스텀 */
.slick-dots {
    position: absolute;
    bottom: -30px;
}


.slick-dots li { margin-right: 20px; }
.slick-dots li button {}
/* 닷츠 */
.slick-dots li button::before {
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: sandybrown;
    border-radius: 50%;
}
/* 현재 닷츠 */
.slick-dots li.slick-active button::before { background-color: orange; }



.nav-btn {
    display: block;
    padding: 5px;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    line-height: 20px;
    background-color: rgb(240, 196, 158);
    border-radius: 50%;
    color: white;
    box-sizing: border-box;
}


.slick-dots li.slick-active .nav-btn {
    background-color: orange;
}






/* ----------------------cont2---------------------- */

.cont2 {
    width: 1000px;
    margin : 0 auto;
    padding-top: 100px;
    margin-bottom: 50px;
    
}

.cont2 .cont2_left ul {
    float: left;
}

.cont2 .cont2_left ul li {
    width: 500px;
    padding-top: 15px;
    padding-right : 30px;
    box-sizing: border-box;
}
.cont2 .cont2_left ul li {
    padding-bottom: 20px;
}
.cont2 .cont2_left ul li strong {
    font-size: 50px; 
    display: block;
    font-weight: bold;
    color: #176B87;

}

.cont2 .cont2_left ul li span {
    font-size: 20px;
    font-weight: bold;
    color: #828282;
    line-height: 30px;
    
}

.cont2 .cont2_left ul li span b {
    font-weight: bold;
    font-size: 36px;
    color : #000000;
}

.cont2 .cont2_left ul li p {
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    padding: 10px 0;
    
}

#plus {
    padding-top: 50px;
    text-align: center;
    font-weight: bold;
}

    
.cont2 .cont2_right ul li a img {
    width: 500px;
    float: right;
}

.cont2 .cont2_right ul li a::after{
    content: '';
    display: block;
    clear: both;
}


/* ----------------------cont3---------------------- */

.cont3 {
    width: 1000px;
    margin : 0 auto;
    margin-bottom: 100px;
    padding-top: 100px;
}


.cont3 .cont3_right ul{
    width: 500px;
    float: right;
}    

.cont3 .cont3_right ul li {
    padding : 10px;
    box-sizing: border-box;
}


.cont3 .cont3_right ul li strong {
    font-size: 50px; 
    display: block;
    font-weight: bold;
    color: #176B87;

}

.cont3 .cont3_right ul li span {
    font-size: 20px;
    font-weight: bold;
    color: #828282;
    line-height: 30px;
}

.cont3 .cont3_right ul li span b {
    font-weight: bold;
    font-size: 25px;
    color : #000000;
}

.cont3 .cont3_right ul li p {
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    padding: 10px 0;
}

    
.cont3 .cont3_left ul li a img {
    float: left;
    width: 500px;
    height: 600px;
    object-fit: cover;
}

.cont3 .cont3_left ul li a::after{
    content: '';
    display: block;
    clear: both;
}


/* ----------------------cont4---------------------- */


.cont4 {
    width: 1000px;
    margin : 0 auto;
    margin-bottom: 100px;
    padding-top: 100px;
}

.cont4 .cont4_left {
    float: left;
    width: 500px;
}

.cont4 .cont4_left ul li {
    padding : 10px;
    box-sizing: border-box;
}

.cont4 .cont4_left ul li strong {
    font-size: 50px; 
    display: block;
    font-weight: bold;
    color: #176B87;

}

.cont4 .cont4_left ul li span {
    font-size: 20px;
    font-weight: bold;
    color: #828282;
    line-height: 30px;
}

.cont4 .cont4_left ul li span b {
    font-weight: bold;
    font-size: 25px;
    color : #000000;
}

.cont4 .cont4_left ul li p {
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    padding: 10px 0;
}

    
.cont4 .cont4_right ul li a img {
    width: 500px;
    float: right;
    height: 600px;
    object-fit: cover;
}
.cont4 .cont4_right ul li a::after{
    content: '';
    display: block;
    clear: both;
}




/* ----------------------cont5---------------------- */


.cont5 {
    width: 1000px;
    margin : 0 auto;
    margin-bottom: 100px;
    padding-top: 100px;
}


.cont5 .cont5_right {
    width: 500px;
    float: right;

}

.cont5 .cont5_right ul li {
    padding : 10px;
    box-sizing: border-box;
}

.cont5 .cont5_right ul li strong {
    font-size: 50px; 
    display: block;
    font-weight: bold;
    color: #176B87;

}

.cont5 .cont5_right ul li span {
    font-size: 20px;
    font-weight: bold;
    color: #626262;
    line-height: 30px;
}

.cont5 .cont5_right ul li span b {
    font-weight: bold;
    font-size: 25px;
    color : #000000;
}

.cont5 .cont5_right ul li p {
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    padding: 10px 0;
}

    
.cont5 .cont5_left ul li a img {
    float: left;
    width: 500px;
    height: 600px;
    object-fit: cover;
}
.cont5 .cont5_left ul li a::after{
    content: '';
    display: block;
    clear: both;
}





/* cont6 */

.cont6 {
    width: 1000px;
    margin : 0 auto;
    margin-bottom: 100px;
    padding-top: 100px;
}

.cont6 .cont6_left ul {
    width: 500px;
    float: left;
}
.cont6 .cont6_left ul li {
    padding : 10px;
    box-sizing: border-box;
}


.cont6 .cont6_left ul li strong {
    font-size: 50px; 
    display: block;
    font-weight: bold;
    color: #176B87;
}

.cont6 .cont6_left ul li span {
    font-size: 20px;
    font-weight: bold;
    color: #828282;
    line-height: 30px;
}

.cont6 .cont6_left ul li span b {
    font-weight: bold;
    font-size: 25px;
    color : #000000;
}

.cont6 .cont6_left ul li p {
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    padding: 10px 0;
}

    
.cont6 .cont6_right ul li a img {
    width: 500px;
    height: 600px;
    float: right;
    object-fit: cover;
}
.cont6 .cont6_right ul li a::after{
    content: '';
    display: block;
    clear: both;
}

/* map */
.my-place {
    padding: 10px 20px;
    background-color: #8AC9F5;
    border-radius: 10px;
    color: white;
    font-size: 15px;
}
.container2 {
    width: 800px;
    margin: 100px auto;
}

.container2 h1 {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 20px;
    color:#176B87;
}



