 .container {
	width: 100%;
	margin: 0 auto;
	padding: 30px;
}

.container .inner {
	width: 100%;
}

.container h1 {
	font-size: 60px;
	font-weight: bold;
	margin: 70px 0px 30px;
	text-align: center;
}


.container h1 img {
	margin-bottom: -15px;
	margin-right: 10px;
	height: 80px;
	width: 80px;
}

.container p {
	font-size: 18px;
	text-align: center;
}

table {
	width: 100%;
	max-width: 800px;
	margin: 50px auto 20px;
	border-collapse: collapse;
	border: 1px solid #ccc;
}

th, td {
	text-align: center;
	border: 1px solid #ccc;
}

.table-wrapper td {
	padding: 10px;
}

th {
	background-color: #D7F5D2;
	border-bottom: 2px solid #ccc;
	text-align: center;
	font-size: 16px;
	line-height: 40px;
}

th:nth-child(1) {
	width: 50px;
	
}

th:nth-child(2) {
	width: 300px;
	text-align: left;
	padding-left: 10px;
}

th:nth-child(3) {
	width: 50px;
}

th:nth-child(4) {
	width: 50px;
}

tbody tr:nth-child(even) {
	background-color: #f9f9f9;
}

input[type="text"], textarea, select {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
	outline: none;
	font-size: 14px;
}

input#cBox, input#cmmt {
	margin-left: 10px;
}

textarea {
	height: 450px;
}

#cmmt {
	width: 88%;
}

input#insertCmmt {
	cursor: pointer;
	width: 50px;
	height: 38px;
	text-align: center;
}

.table-wrapper {
	position: relative; /* 상대적 위치 지정 */
	width: 100%; /* 테이블 컨테이너의 너비를 100%로 설정합니다. */
	max-width: 800px; /* 테이블 컨테이너의 최대 너비를 800px로 설정합니다. */
	margin: 50px auto 150px;
}

.insert {
	position: absolute; /* 버튼의 위치를 절대적으로 설정합니다. */
	bottom: -70px; /* 테이블 아래에 위치하도록 설정합니다. */
	right: 0; /* 오른쪽 정렬 */
}

.insert button {
	border-radius: 5px;
	padding: 15px 30px;
	background-color: #8AC9F5;
	cursor: pointer;
	color: white;
	font-size: 18px;
	border: none;
}

.cont_tb2 li.head {
	position: relative; /* 상대적 위치 지정 */
	margin: 0 auto;
	width: 800px; /* 테이블 컨테이너의 너비를 100%로 설정합니다. */

}

.cont_tb2 .head input#cBox {
	width: 88%;
}


.cont_tb2 .head ul {
    list-style: none; /* 리스트의 기본 마커 제거 */
    padding: 0; /* 리스트의 패딩 제거 */ 
}

.cont_tb2 li.head {
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}



.cont_tb2 .head p {
	width: 10%;
	border-radius: 5px;
	text-align: center;
	background-color: #ccc;
	height: 38px;
	line-height: 38px;

	margin: auto;
	margin-right : 10px;
}


.cont_tb2 .head a {
	width: 20%;
	margin-left: 5px;
}
.cont_tb2 .head form {
	width: 800px;

	
}

.cont_tb2 .head button {
	border-radius: 5px;
	padding: 8px 20px;
	background-color: #8AC9F5;
	cursor: pointer;
	color: white;
	font-size: 16px;
	border: none;
	margin-left: 10px;
	position: absolute;
}
.id_comment {
	display: flex;
	width: 150px;
	margin: 30px 50px 20px 257px;
	justify-content: space-between;
}

.noneCmmt {
	margin-left: 175px;
}

#line{
	width: 740px;
	margin-left: 175px;
}
.cont_tb2 table {
	border-collapse: collapse; /* 테이블 테두리를 합칩니다. */
	border: none; /* 테이블 테두리를 없앱니다. */
	position: relative; /* 상대적 위치 지정 */
	margin: 0 auto;
	width: 800px; /* 테이블 컨테이너의 너비를 100%로 설정합니다. */
	margin: 10px auto 50px;
}

.cont_tb2 table th {
	background-color: white;
	border: none;
}

.cont_tb2 td {
	border: 1px solid #ccc;
	text-align: left;
	border: none;
}

.cont_tb2 > td:first-child {
	width: 10%;
	border-right: 1px solid black;
	padding-right: 10px;
}

.cont_tb2 > td:nth-child(2) {
	width: 70%;
	padding-left: 10px;
}

.cont_tb2 td a {
	width: 20px;
	margin-left: 7px;
}

.cont_tb2 td button {
	border-radius: 5px;
	padding: 8px 15px;
	background-color: #ccc;
	cursor: pointer;
	color: white;
	font-size: 16px;
	border: none;
}

#content {
	resize: none;
}

table.commt_area th {
	text-align: left;
	background-color: #D7F5D2;
	border-right: 1px solid #ccc;
}
table.commt_area th:first-child{padding-left : 10px;}
table.commt_area th:last-child {
	padding-left : 20px;
	border-right: none;
	}
.commt_area tr td {
	padding : 10px 0;
	padding-left: 10px;
	}

.noneCmmt {
	width : 100%;
	text-align: center;
	
}

