.container {
    width: 100%;
    margin: 0 auto;
    padding: 30px;
}

.container .inner {
    width: 100%;
}

.container .inner .board_area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .inner .board_area h1 {
    font-size: 60px;
    font-weight: bold;
    margin: 70px 0px 30px;
    text-align: center;
}

.container .inner .board_area h1 img {
    width: 35%;
    margin-bottom: -12px;
    margin-right: 10px;
}
.container .inner .board_area p {
    font-size: 18px;
    text-align: center;
}

.container .inner .board_area .action_area {
    width: 100%;
    position: relative;
    text-align: center;
}

.container .inner .board_area .action_area form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.container .inner .board_area .action_area form select {
    width: 300px;
    padding: 20px 18px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 18px;
    color: gray;
}

.container .inner .board_area .action_area form select {
            width: 300px; /* 선택 요소와 datepicker의 너비를 동일하게 조정합니다. */
            padding: 20px 18px;
            margin: 10px 0;
            border-radius: 5px;
            font-size: 18px;
            color: gray;
}

.container .inner .board_area .action_area form #datepicker {
    width: 300px;
    padding: 20px 18px; 
    margin: 10px 0; 
    border-radius: 5px;
    font-size: 18px; 
    color: gray;
    position: relative; 
    border: 1px solid gray;
}

.container .inner .board_area .action_area form .cal {
	position: relative;
}

.container .inner .board_area .action_area form .cal i {
	position: absolute;
	right : 5%;
	top : 50%;
	transform : translateY(-50%);
	cursor: pointer;
}

        
.container .inner .board_area .action_area button {
    background-color: #8AC9F5;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    position: relative; 
    margin-top: 20px; 
    margin-bottom: 30px;
    color: white;
    font-size: 18px;
}