@charset "UTF-8";
/* 반응형 영역 */

@media (max-width: 960px) {
    .container {
        width: 100% !important;
        margin: 0 auto;
    }
    .slide-container {
        width: 700px !important;
        height: 100%;
    }


    /* -------------------cont2------------------- */

    .cont2 .cont2_right{
    }

    .cont2 {
        position: relative;
    }

    .cont2 .cont2_left {
        position: absolute;
        left : 50%;
        top : 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .cont2 .cont2_left ul {
        box-sizing: border-box;
        background-color: rgba(255, 255, 255, 0.7 );
        border-radius: 30px;
    }
    .cont2 .cont2_left ul li  strong {
        font-size: 1.8rem;
    }
    .cont2 .cont2_left ul li  span {
        font-size: 1rem !important;
    }
    .cont2 .cont2_left ul li  span b {
        font-size: 1.3rem !important;
    }
    .cont2 .cont2_left ul li  p {
        font-size: 1rem !important;
    }



    /* -------------------cont3------------------- */

    .cont3 .cont3_left{
        display: none;
    }


    .cont3 {
        width: 700px;
        height: 700px;
        background-image: url(../image/surgery.jpg);
        background-size: cover;
        position: relative;
    }

    .cont3 .cont3_right {
        position: absolute;
        left : 50%;
        top : 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .cont3 .cont3_right ul {
        box-sizing: border-box;
        background-color: rgba(255, 255, 255, 0.7 );
        border-radius: 30px;
    }
    .cont3 .cont3_right ul li  strong {
        font-size: 1.8rem;
    }
    .cont3 .cont3_right ul li  span {
        font-size: 1rem !important;
    }
    .cont3 .cont3_right ul li  span b {
        font-size: 1.3rem !important;
    }
    .cont3 .cont3_right ul li  p {
        font-size: 1rem !important;
    }



/* -------------------cont4------------------- */

    .cont4 .cont4_right{
        display: none;
    } 
 
    .cont4 {
        width: 700px;
        height: 700px;
        background-image: url(../image/surgery1.jpg);
        background-size: cover;
        position: relative;
    }

    .cont4 .cont4_left {
        position: absolute;
        left : 50%;
        top : 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .cont4 .cont4_left ul {
        box-sizing: border-box;
        background-color: rgba(255, 255, 255, 0.7 );
        border-radius: 30px;
    }
    .cont4 .cont4_left ul li  strong {
        font-size: 1.8rem;
    }
    .cont4 .cont4_left ul li  span {
        font-size: 1rem !important;
    }
    .cont4 .cont4_left ul li  span b {
        font-size: 1.3rem !important;
    }
    .cont4 .cont4_left ul li  p {
        font-size: 1rem !important;
    }


    /* -------------------cont5------------------- */

    .cont5 .cont5_left{
        display: none;
    }

    .cont5 {
        width: 700px;
        height: 700px;
        background-image: url(../image/surgery2.jpg);
        background-size: cover;
        position: relative;
    }

    .cont5 .cont5_right {
        position: absolute;
        left : 50%;
        top : 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .cont5 .cont5_right ul {
        box-sizing: border-box;
        background-color: rgba(255, 255, 255, 0.7 );
        border-radius: 30px;
    }
    .cont5 .cont5_right ul li  strong {
        font-size: 1.8rem;
    }
    .cont5 .cont5_right ul li  span {
        font-size: 1rem !important;
    }
    .cont5 .cont5_right ul li  span b {
        font-size: 1.3rem !important;
    }
    .cont5 .cont5_right ul li  p {
        font-size: 1rem !important;
    }

    .cont5 .cont5_left{
        display: none;
    }


    /* -------------------cont5------------------- */

    .cont6 .cont6_right{
        display: none;
    }

    .cont6 {
        width: 700px;
        height: 700px;
        background-image: url(../image/surgery3.jpg);
        background-size: cover;
        position: relative;
    }

    .cont6 .cont6_left {
        position: absolute;
        left : 50%;
        top : 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .cont6 .cont6_left ul {
        box-sizing: border-box;
        background-color: rgba(255, 255, 255, 0.7 );
        border-radius: 30px;
    }
    .cont6 .cont6_left ul li  strong {
        font-size: 1.8rem;
    }
    .cont6 .cont6_left ul li  span {
        font-size: 1rem !important;
    }
    .cont6 .cont6_left ul li  span b {
        font-size: 1.3rem !important;
    }
    .cont6 .cont6_left ul li  p {
        font-size: 1rem !important;
    }
    

    
}